/*
============================================
; Title: Assignment #.# theme.css
; Author: Shay McKee
; Date: 08/14/2022
; Description: Theme CSS file for all WEB 330 exercises and projects
;============================================
*/

body.light-theme {
	--text-color: #000;
	--background-color: #fff;
	--anchor-color: #4f3674;
	--h1-background-color: #3c275a;
	--h1-border-color: #d6a800;
	--heading-background-color: #3c275a;
	--heading-color: #fff;
	--heading-border-color: #d6a800;
	--anchor-hover-color: #4f3674;
	--anchor-hover-background-color: #d6a800;
	--card-background-color: #fff;
	--card-title-color: #4f3674;
	--btn-background-color: #4f3674;
	--btn-color: #fff;
	--btn-hover-background-color: #d6a800;
	--btn-hover-color: #4f3674;
	--input-border-color: #ccc;
    --table-header-background-color: #4f3674;
    --table-header-color: #fff;
    --table-border-color: #ddd;
    --table-hover-background-color: #d6a800;
    --table-hover-color: #4f3674;

}

body.dark-theme {
    --text-color: #fafafa;
    --background-color: #303030;
    --anchor-color: #fff;
    --h1-background-color: #9c27b0;
    --h1-border-color: #9c27b0;
    --heading-background-color: #424242;
    --heading-color: #fff;
    --heading-border-color: #424242;
    --anchor-hover-color: #d176e1;
    --anchor-hover-background-color: #303030;
    --card-background-color: #424242;
    --card-title-color: #d176e1;
    --btn-background-color: #d176e1;
    --btn-color: #fff;
    --btn-hover-background-color: #7d4787;
    --btn-hover-color: #fff;
    --input-border-color: #303030;
    --table-header-background-color: #d176e1;
    --table-header-color: #fff;
    --table-border-color: #303030;
    --table-hover-background-color: #7d4787;
    --table-hover-color: #fff;
}

#icon-mode:hover {
    cursor: pointer;
}

#icon-text {
    padding-left: 10px;
}

.pull-right {
    float: right;
}

body {
    color: var(--text-color);
    background: var(--background-color);
    
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.assign-container {
    padding: 10px;
}

.assign-container {
    padding: 10px;
}

.assign-results-text {
    text-align: center;
    font-size: 28px;
}

h2, h3, h4 {
    background-color: var(--heading-background-color);
    color: var(--heading-color);
    padding: 10px;
    border: solid 1px var(--heading-border-color);
}

h1 {
    color: var(--heading-color);
    background-color: var(--h1-background-color);
    border: solid 1px var(--h1-border-color);
    padding: 10px;
}

a {
    color: var(--anchor-color);
    text-decoration: none;
}

a:hover {
    background-color: var(--anchor-hover-background-color);
    color: var(--anchor-hover-color);
}

.card {
    background-color: var(--card-background-color);
}

.card-title {
    color: var(--card-title-color);
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
}

.btn-primary:hover {
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-color);
}

.input {
    border-color: var(--input-border-color);
}

.drop-down-menu {
    border-color: var(--input-border-color);
}

.table {
    border: solid 1px var(--table-border-color);
    border-collapse: collapse;
}

.table th {
    background-color: var(--table-header-background-color);
    color: var(--table-header-color);
}

.table td {
    border: solid 1px var(--table-border-color);
    padding: 10px;
}

.table-hover tr:hover {
    background-color: var(--table-hover-background-color);
    color: var(--table-hover-color);
    cursor: pointer;
}